NEXT_PUBLIC_SITE_URL=https://www.manishagencia.com
RESEND_API_KEY=
CONTACT_FROM_EMAIL=Manish Web <web@tudominio.com>
CONTACT_TO_EMAIL=hola@manish.com.ar
NEXT_PUBLIC_TINYMCE_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
